
.navbar {
    background-color: rgb(11, 38, 194);
    font-family: 'Roboto', san-serif;
}

h1 {
    color: white;
    margin: 1rem;
    font-family: 'Roboto', san-serif;
}

.nav-bar-item {
    margin-top: 27px;
    margin-left: 27px;
    font-family: 'Roboto', san-serif;
}

body {

    background-color: rgba(201, 201, 193, 0.76);
}

.form-inline {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


img{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin-top: 40px;
}

#giphy-image {
    margin: 100px;
    width: 100%;
}

@media screen and (max-width: 320px) {

#giphy-image {
    margin-right: 200px;


}
}
    



